* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #659999;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    width: 80%;
    margin: 1rem auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 2rem;
    background-color: white;
}

.title-main {
    font-size: 3rem;
    margin: 1.5rem;
}

/* ---- FORM ---- */

#input {
    width: 80%;
    margin: 1rem;
    height: 2.5rem;
    outline: none;
}

#searchBtn {
    width: 20%;
    height: 2rem;
    background-color: #9bc7c4;
    color: white;
    font-size: 1.25rem;
    outline: none;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
    margin: 1rem 0 2rem;
}

#searchBtn:hover {
    background-color: #8B9078;
    transition: 0.3s all linear;
}

/* ---- MOVIE RESULTS ----*/

.movie-results {
    margin: 2rem;
    padding: 2rem;
    box-shadow: 2px 2px 2px 2px gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hidden {
    display: none;
}

.movie {
    width: 50%;
    padding: 2rem;
}

.movie img {
    cursor: pointer;
    max-width: 75%;
}

.movie-title {
    margin: 1rem;
    font-size: 2rem;
}

.movie-type {
    text-transform: capitalize;
    margin: 0.5rem;
}

.movie-year {
    margin: 0.5rem;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .movie-results {
        padding: 0;
    }

    .movie {
        width: 100%;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 500px) {
    #searchBtn {
        width: 30%;
    }
}


